* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

header {
    background-color: #000;
}

#home {
    width: 100%;
    min-height: 100vh;
    background-image: url("./assets/background.png");
}

.fportalImg {
    width: 400px;
    position: absolute;
    top: 40%;
}

.fourImg {
    width: 150px;
    position: absolute;
    top: 90%;
}

span {
    position: absolute;
    top: 85%;
    color: #606971;
}

.social {
    position: absolute;
    top: 55%;
}

a {
    margin: 40px;
    text-decoration-line: none;
}

i {
    font-size: 30px;
    color: #fff;

}

i>img {
    width: 30px;
}


@media screen and (max-width: 767px) {
    .fportalImg {
        width: 300px;
    }

    .social {
        position: absolute;
        top: 55%;
    }

    a {
        margin: 0 20px;
    }
}